{% extends "frontend/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/setaresource/css/short.css') }}"/>
{% endblock %}

{% block jumbo %}
    <div class="ui text container">
        <h1 class="ui inverted header">
            Servicio de Taquillas
        </h1>
        <h2>Histórico de alquileres.</h2>
    </div>
{% endblock %}

{% block body %}
    <table class="ui inverted unstackable table">
        <thead>
        <tr class="center aligned">
            <th>Taquilla</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Fecha entrega</th>
        </tr>
        </thead>
        <tbody>
        {% for rental in rentals %}
        <tr class="center aligned">
            <td>{{ rental.locker }}</td>
            <td>{{ rental.startAt | date('d/m') }}</td>
            <td>{{ rental.endAt | date('d/m') }}</td>
            <td>
            {% if rental.penalty is not empty %}
                <span style="color: red;">{{ rental.returnAt ? (rental.returnAt | date('d/m')) : '' }}</span>
            {% else %}
                <span style="color: greenyellow;">{{ rental.returnAt ? (rental.returnAt | date('d/m')) : '' }}</span>
            {% endif %}
            {% if rental.returnAt is empty %}
                {% if is_granted('rent', rental) %}
                    <a href="{{ path('renew', {'rental': rental.id}) }}" class="ui positive labeled icon compact button">
                        <i class="refresh icon"></i>
                        Renovar
                    </a>
                {% endif %}
            {% endif %}
            </td>
        </tr>
        {% else %}
            <tr>
                <td colspan="4">No se han alquilado taquillas.</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">Solo se muestran los diez últimos alquileres.</td>
        </tr>
        </tfoot>
    </table>
{% endblock %}