{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% extends 'easy_admin/layout.html.twig' %}

{% block content_title %}Nuevo alquiler{% endblock %}

{% block flash_messages %}
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                {{- flashMessage -}}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock flash_messages %}

{% block main %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i> Alquilar
    </button>
    {{ form_end(form) }}

{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/select2-bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('components/admin-lte/plugins/iCheck/square/grey.css') }}"/>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('components/admin-lte/plugins/iCheck/icheck.min.js') }}"></script>
    <script src="{{ asset("bundles/easyadmin/javascript/select2.full.min.js") }}"></script>
    <script type="text/javascript">
        $(function() {
            // Select2 widget is only enabled for the <select> elements which explicitly ask for it
            $('#main form select[data-widget="select2"]').select2({
                theme: 'bootstrap'
            });
        });

        $(document).ready(function(){
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-grey',
                radioClass: 'iradio_square-grey',
                increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock %}